<a href="https://colab.research.google.com/github/MakoReactor/analise-micro-dados-enem-2021-semantix/blob/main/An%C3%A1lise_Micro_Dados_Enem_2021_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise Micro Dados Enem 2021.

# Essa Análise será baseada em indicadores sócio ecônomicos e seus impáctos no desempenho dos candidatos. Por enquanto esta análise não está completa, contém  algumas análises de notas vesus renda familiar, porém as respostas encontradas até o momento são consistentes.

In [29]:
import pandas as pd

In [30]:
arquivo = "/content/drive/MyDrive/microdados_enem_2021/DADOS/MICRODADOS_ENEM_2021.csv"

In [31]:
# Criar um Data Frame com o arquivo.
# Essa etapa pode demorar devido ao tamho do Arquivo.
df = pd.read_csv(arquivo, encoding='ISO-8859-1', sep=';')

In [32]:
df.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210053865474,2021,5,F,1,1,1,1,3,1,...,A,A,A,B,A,A,B,A,B,B
1,210052384164,2021,12,M,1,1,1,1,11,1,...,A,A,A,B,A,A,C,A,A,A
2,210052589243,2021,13,F,3,1,1,1,15,1,...,B,A,A,B,A,A,C,B,B,B
3,210052128335,2021,3,M,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,B,B
4,210051353021,2021,2,F,1,3,1,2,0,2,...,B,A,A,B,A,B,E,A,B,B

In [33]:
# Criar uma lista com os nomes das colunas para facilitar a seleção das colunas
colunas = df.columns.values
colunas

array(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'], dtype=object)

In [34]:
# Selecionando algumas colunas específicas para trabalhar com menos dados.
colunas_selecionadas = ['NU_INSCRICAO', 'TP_COR_RACA', 'TP_ESCOLA', 'NU_NOTA_CN','NU_NOTA_CH', 'NU_NOTA_LC','NU_NOTA_MT', 'NU_NOTA_REDACAO', 'Q006']

In [35]:
# Criando um DataFrame com apenas as colunas selecionadas 
df_col_selecionadas = df[colunas_selecionadas]
df_col_selecionadas.head()

,NU_INSCRICAO,TP_COR_RACA,TP_ESCOLA,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,Q006
0,210053865474,1,1,NaN,574.6,472.6,NaN,760.0,D
1,210052384164,1,1,505.9,551.8,498.3,461.5,560.0,B
2,210052589243,1,1,NaN,NaN,NaN,NaN,NaN,C
3,210052128335,3,2,580.7,678.9,638.9,659.5,780.0,B
4,210051353021,3,2,497.7,532.4,457.6,582.6,780.0,C

In [36]:
df_col_selecionadas.isna().sum()

NU_INSCRICAO             0
TP_COR_RACA              0
TP_ESCOLA                0
NU_NOTA_CN         1143988
NU_NOTA_CH         1011453
NU_NOTA_LC         1011453
NU_NOTA_MT         1143988
NU_NOTA_REDACAO    1011453
Q006                     2
dtype: int64

Neste ponto foi verificado que há muitas NaN (not a number) nas provas o que 
indica abstenção o que é diferente de ter zerado na prova, neste caso o Candidato faltou no dia da prova.

Outra prova que corrobora com essa hipótese é o fato dos valores faltantes serem iguais entre provas minsistradas no mesmo dia.

Desta forma para uma análise de notas é correto retirar dos dados todos os NaN.

- Pode-se concluir que quem zerou na prova de Ciencias Humanas também zerou na prova de Ciências da Natureza, pois as mesmas foram dadas no mesmo dia
- O mesmo pode-se afirmar com as notas de Matemática e Linguagens e códigos e Redação
- Pode se observar que dos 3.389.832  candidados  1.143.988 faltaram no dia da prova de Matemática, Linguagens e Redação (aproximadamente 1/3 de abstenção)

In [37]:
df_col_selecionadas = df_col_selecionadas.dropna()
df_col_selecionadas.isna().sum()

NU_INSCRICAO       0
TP_COR_RACA        0
TP_ESCOLA          0
NU_NOTA_CN         0
NU_NOTA_CH         0
NU_NOTA_LC         0
NU_NOTA_MT         0
NU_NOTA_REDACAO    0
Q006               0
dtype: int64

## Adicionar uma coluna com informações.
### Para a Coluna Q006 Dicionaŕio de Dados para a Pergunta Q006 = "Qual é a renda mensal de sua família? 
### Essa informação consta no Dicionário de Dados que foi baixado junto com os dados

In [38]:
renda_familiar = {
  'A':	'Nenhuma Renda',
  'B':	'Até R$ 1.100,00',
  'C':	'De R$ 1.100,01 até R$ 1.650,00',
  'D':	'De R$ 1.650,01 até R$ 2.200,00',
  'E':	'De R$ 2.200,01 até R$ 2.750,00',
  'F':	'De R$ 2.750,01 até R$ 3.300,00',
  'G':	'De R$ 3.300,01 até R$ 4.400,00',
  'H':	'De R$ 4.400,01 até R$ 5.500,00',
  'I':	'De R$ 5.500,01 até R$ 6.600,00',
  'J':	'De R$ 6.600,01 até R$ 7.700,00',
  'K':	'De R$ 7.700,01 até R$ 8.800,00',
  'L':	'De R$ 8.800,01 até R$ 9.900,00',
  'M':	'De R$ 9.900,01 até R$ 11.000,00',
  'N':	'De R$ 11.000,01 até R$ 13.200,00',
  'O':	'De R$ 13.200,01 até R$ 16.500,00',
  'P':	'De R$ 16.500,01 até R$ 22.000,00',
  'Q':	'Acima de R$ 22.000,00'
}

In [39]:
df_col_selecionadas["RENDA_FAMILIAR"] = df_col_selecionadas['Q006'].map(renda_familiar)
# df_col_selecionadas['RENDA_FAMILIAR'] = [renda_familiar[resp] for resp in df_col_selecionadas['Q006']]
df_col_selecionadas.head()

,NU_INSCRICAO,TP_COR_RACA,TP_ESCOLA,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,Q006,RENDA_FAMILIAR
1,210052384164,1,1,505.9,551.8,498.3,461.5,560.0,B,"Até R$ 1.100,00"
3,210052128335,3,2,580.7,678.9,638.9,659.5,780.0,B,"Até R$ 1.100,00"
4,210051353021,3,2,497.7,532.4,457.6,582.6,780.0,C,"De R$ 1.100,01 até R$ 1.650,00"
8,210053417016,3,2,487.4,476.5,450.7,493.4,520.0,B,"Até R$ 1.100,00"
9,210051128744,3,2,507.6,539.2,494.6,413.3,380.0,B,"Até R$ 1.100,00"

In [40]:
# Obter informações dos dataframe
df_col_selecionadas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2238106 entries, 1 to 3389830
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   NU_INSCRICAO     int64
 1   TP_COR_RACA      int64
 2   TP_ESCOLA        int64
 3   NU_NOTA_CN       float64
 4   NU_NOTA_CH       float64
 5   NU_NOTA_LC       float64
 6   NU_NOTA_MT       float64
 7   NU_NOTA_REDACAO  float64
 8   Q006             object
 9   RENDA_FAMILIAR   object
dtypes: float64(5), int64(3), object(2)
memory usage: 187.8+ MB

In [41]:
total = df_col_selecionadas['NU_INSCRICAO'].count()
total

2238106

### Logo abaixo é demostranda a porcentagem de candidatos que fizeram a prova 
### Agrupados pela Renda Familias.
Percebemos que a maioria dos candidatos é de uma renda relativa baixa, cerca de 
52% têm uma renda familiar até **R$ 2200,00 reais**.

In [42]:
# Porcentagem por Renda Familiar
df_col_selecionadas[['RENDA_FAMILIAR']].value_counts() / total * 100

RENDA_FAMILIAR
Até R$ 1.100,00                     24.428378
De R$ 1.100,01 até R$ 1.650,00      15.496943
De R$ 1.650,01 até R$ 2.200,00      12.408170
De R$ 2.750,01 até R$ 3.300,00       7.508536
De R$ 3.300,01 até R$ 4.400,00       6.596962
De R$ 2.200,01 até R$ 2.750,00       6.432090
De R$ 4.400,01 até R$ 5.500,00       5.305781
Nenhuma Renda                        5.044399
De R$ 5.500,01 até R$ 6.600,00       3.369814
De R$ 9.900,01 até R$ 11.000,00      2.137924
De R$ 6.600,01 até R$ 7.700,00       2.097041
Acima de R$ 22.000,00                1.783383
De R$ 7.700,01 até R$ 8.800,00       1.660198
De R$ 13.200,01 até R$ 16.500,00     1.468295
De R$ 16.500,01 até R$ 22.000,00     1.465614
De R$ 8.800,01 até R$ 9.900,00       1.454802
De R$ 11.000,01 até R$ 13.200,00     1.341670
dtype: float64

## Com base nas porcentagens de candidatos por faixa de renda familiar surgiu percebi que a maria dos candidatos, cerca de 52%, ou mais da metada, têm uma renda familiar de até R$ 2200,00 reais.

## Com base nessa inferência, surgiu um pergunta:  Seré que a renda familiar tem influência nas notas do ENEM? Candidatos mais pobres tiram notas semelhantes?

## Para testar essa hipótese foram feitos alguns agrupamentos e cálculos. Como visto a seguir.

In [56]:
redacao = df_col_selecionadas[['Q006','RENDA_FAMILIAR', 'NU_NOTA_REDACAO']].groupby(['Q006','RENDA_FAMILIAR']).describe()
redacao

                                      NU_NOTA_REDACAO                          \
                                                count        mean         std
Q006 RENDA_FAMILIAR
A    Nenhuma Renda                           112899.0  534.462307  187.874551
B    Até R$ 1.100,00                         546733.0  566.065813  183.172533
C    De R$ 1.100,01 até R$ 1.650,00          346838.0  596.308305  175.268343
D    De R$ 1.650,01 até R$ 2.200,00          277708.0  611.618174  173.653670
E    De R$ 2.200,01 até R$ 2.750,00          143957.0  629.309308  174.326278
F    De R$ 2.750,01 até R$ 3.300,00          168049.0  643.822933  172.497642
G    De R$ 3.300,01 até R$ 4.400,00          147647.0  661.265180  171.389958
H    De R$ 4.400,01 até R$ 5.500,00          118749.0  678.737505  169.435336
I    De R$ 5.500,01 até R$ 6.600,00           75420.0  692.066295  169.054861
J    De R$ 6.600,01 até R$ 7.700,00           46934.0  701.767589  166.977424
K    De R$ 7.700,01 até R$ 8.800,00           37157.0  708.104529  166.452396
L    De R$ 8.800,01 até R$ 9.900,00           32560.0  712.899263  165.780800
M    De R$ 9.900,01 até R$ 11.000,00          47849.0  720.293423  163.499897
N    De R$ 11.000,01 até R$ 13.200,00         30028.0  730.735314  162.483327
O    De R$ 13.200,01 até R$ 16.500,00         32862.0  738.371371  159.580568
P    De R$ 16.500,01 até R$ 22.000,00         32802.0  745.189927  158.265698
Q    Acima de R$ 22.000,00                    39914.0  752.414191  155.570270


                                       min    25%    50%    75%     max
Q006 RENDA_FAMILIAR
A    Nenhuma Renda                     0.0  460.0  540.0  640.0   980.0
B    Até R$ 1.100,00                   0.0  480.0  560.0  660.0  1000.0
C    De R$ 1.100,01 até R$ 1.650,00    0.0  520.0  600.0  700.0  1000.0
D    De R$ 1.650,01 até R$ 2.200,00    0.0  520.0  600.0  720.0   980.0
E    De R$ 2.200,01 até R$ 2.750,00    0.0  540.0  620.0  740.0  1000.0
F    De R$ 2.750,01 até R$ 3.300,00    0.0  560.0  640.0  760.0   980.0
G    De R$ 3.300,01 até R$ 4.400,00    0.0  560.0  640.0  800.0  1000.0
H    De R$ 4.400,01 até R$ 5.500,00    0.0  580.0  680.0  820.0  1000.0
I    De R$ 5.500,01 até R$ 6.600,00    0.0  580.0  680.0  820.0  1000.0
J    De R$ 6.600,01 até R$ 7.700,00    0.0  600.0  700.0  840.0  1000.0
K    De R$ 7.700,01 até R$ 8.800,00    0.0  600.0  720.0  840.0   980.0
L    De R$ 8.800,01 até R$ 9.900,00    0.0  600.0  720.0  840.0  1000.0
M    De R$ 9.900,01 até R$ 11.000,00   0.0  620.0  720.0  860.0  1000.0
N    De R$ 11.000,01 até R$ 13.200,00  0.0  620.0  740.0  860.0  1000.0
O    De R$ 13.200,01 até R$ 16.500,00  0.0  640.0  760.0  860.0  1000.0
P    De R$ 16.500,01 até R$ 22.000,00  0.0  640.0  760.0  880.0  1000.0
Q    Acima de R$ 22.000,00             0.0  660.0  780.0  880.0  1000.0

In [44]:
matematica = df_col_selecionadas[['Q006','RENDA_FAMILIAR', 'NU_NOTA_MT']].groupby(['Q006','RENDA_FAMILIAR']).describe()
matematica

                                      NU_NOTA_MT                               \
                                           count        mean         std  min
Q006 RENDA_FAMILIAR
A    Nenhuma Renda                      112899.0  470.339162   78.849885  0.0
B    Até R$ 1.100,00                    546733.0  484.990884   84.346545  0.0
C    De R$ 1.100,01 até R$ 1.650,00     346838.0  509.482063   93.433361  0.0
D    De R$ 1.650,01 até R$ 2.200,00     277708.0  524.121252   98.317298  0.0
E    De R$ 2.200,01 até R$ 2.750,00     143957.0  542.048935  103.309718  0.0
F    De R$ 2.750,01 até R$ 3.300,00     168049.0  551.287843  104.892276  0.0
G    De R$ 3.300,01 até R$ 4.400,00     147647.0  568.908749  108.588134  0.0
H    De R$ 4.400,01 até R$ 5.500,00     118749.0  583.546170  110.978238  0.0
I    De R$ 5.500,01 até R$ 6.600,00      75420.0  594.280627  112.568852  0.0
J    De R$ 6.600,01 até R$ 7.700,00      46934.0  603.060353  113.094837  0.0
K    De R$ 7.700,01 até R$ 8.800,00      37157.0  609.553775  113.850796  0.0
L    De R$ 8.800,01 até R$ 9.900,00      32560.0  614.626852  114.110024  0.0
M    De R$ 9.900,01 até R$ 11.000,00     47849.0  623.353339  114.692974  0.0
N    De R$ 11.000,01 até R$ 13.200,00    30028.0  632.370391  115.135459  0.0
O    De R$ 13.200,01 até R$ 16.500,00    32862.0  639.819466  114.509491  0.0
P    De R$ 16.500,01 até R$ 22.000,00    32802.0  648.143110  115.086549  0.0
Q    Acima de R$ 22.000,00               39914.0  662.671982  115.752805  0.0


                                           25%    50%      75%    max
Q006 RENDA_FAMILIAR
A    Nenhuma Renda                     413.000  452.0  509.700  929.1
B    Até R$ 1.100,00                   421.300  466.3  533.100  953.1
C    De R$ 1.100,01 até R$ 1.650,00    435.900  492.3  571.100  953.1
D    De R$ 1.650,01 até R$ 2.200,00    445.300  508.9  592.725  953.1
E    De R$ 2.200,01 até R$ 2.750,00    457.800  531.1  617.300  953.1
F    De R$ 2.750,01 até R$ 3.300,00    465.300  543.1  628.300  953.1
G    De R$ 3.300,01 até R$ 4.400,00    480.100  566.2  650.000  953.1
H    De R$ 4.400,01 até R$ 5.500,00    493.300  585.7  665.300  953.1
I    De R$ 5.500,01 até R$ 6.600,00    504.500  598.4  677.100  953.1
J    De R$ 6.600,01 até R$ 7.700,00    514.600  609.7  685.900  953.1
K    De R$ 7.700,01 até R$ 8.800,00    522.000  617.8  691.200  953.1
L    De R$ 8.800,01 até R$ 9.900,00    527.000  623.1  697.700  953.1
M    De R$ 9.900,01 até R$ 11.000,00   538.900  633.4  705.700  953.1
N    De R$ 11.000,01 até R$ 13.200,00  551.075  643.1  713.900  953.1
O    De R$ 13.200,01 até R$ 16.500,00  562.300  650.6  719.775  953.1
P    De R$ 16.500,01 até R$ 22.000,00  572.100  661.4  728.800  953.1
Q    Acima de R$ 22.000,00             590.500  674.9  742.400  953.1

In [45]:
ling_port = df_col_selecionadas[['Q006','RENDA_FAMILIAR', 'NU_NOTA_LC']].groupby(['Q006','RENDA_FAMILIAR']).describe()
ling_port

                                      NU_NOTA_LC                              \
                                           count        mean        std  min
Q006 RENDA_FAMILIAR
A    Nenhuma Renda                      112899.0  454.178489  71.359685  0.0
B    Até R$ 1.100,00                    546733.0  469.805110  71.399614  0.0
C    De R$ 1.100,01 até R$ 1.650,00     346838.0  491.586757  71.388494  0.0
D    De R$ 1.650,01 até R$ 2.200,00     277708.0  502.606945  71.451742  0.0
E    De R$ 2.200,01 até R$ 2.750,00     143957.0  512.997949  71.429860  0.0
F    De R$ 2.750,01 até R$ 3.300,00     168049.0  519.364197  71.203582  0.0
G    De R$ 3.300,01 até R$ 4.400,00     147647.0  528.880390  71.453058  0.0
H    De R$ 4.400,01 até R$ 5.500,00     118749.0  536.390671  71.336989  0.0
I    De R$ 5.500,01 até R$ 6.600,00      75420.0  542.453016  71.045192  0.0
J    De R$ 6.600,01 até R$ 7.700,00      46934.0  547.896299  70.394459  0.0
K    De R$ 7.700,01 até R$ 8.800,00      37157.0  550.662389  71.055170  0.0
L    De R$ 8.800,01 até R$ 9.900,00      32560.0  553.393606  70.793566  0.0
M    De R$ 9.900,01 até R$ 11.000,00     47849.0  556.718293  70.482337  0.0
N    De R$ 11.000,01 até R$ 13.200,00    30028.0  562.540099  69.700189  0.0
O    De R$ 13.200,01 até R$ 16.500,00    32862.0  566.227482  69.838528  0.0
P    De R$ 16.500,01 até R$ 22.000,00    32802.0  569.910609  69.274106  0.0
Q    Acima de R$ 22.000,00               39914.0  573.766192  69.335093  0.0


                                         25%    50%      75%    max
Q006 RENDA_FAMILIAR
A    Nenhuma Renda                     401.2  450.2  503.100  745.1
B    Até R$ 1.100,00                   417.5  469.9  520.400  778.6
C    De R$ 1.100,01 até R$ 1.650,00    442.1  494.7  542.200  821.6
D    De R$ 1.650,01 até R$ 2.200,00    454.3  506.6  553.100  792.4
E    De R$ 2.200,01 até R$ 2.750,00    466.6  517.3  563.300  802.9
F    De R$ 2.750,01 até R$ 3.300,00    473.6  524.2  568.800  813.2
G    De R$ 3.300,01 até R$ 4.400,00    483.2  534.4  578.900  784.5
H    De R$ 4.400,01 até R$ 5.500,00    491.5  541.7  586.100  820.5
I    De R$ 5.500,01 até R$ 6.600,00    498.2  548.3  591.900  820.5
J    De R$ 6.600,01 até R$ 7.700,00    504.6  553.8  596.600  783.7
K    De R$ 7.700,01 até R$ 8.800,00    507.1  556.9  600.100  790.2
L    De R$ 8.800,01 até R$ 9.900,00    509.9  560.1  602.400  780.9
M    De R$ 9.900,01 até R$ 11.000,00   514.4  563.1  605.400  790.8
N    De R$ 11.000,01 até R$ 13.200,00  520.1  568.9  610.900  826.1
O    De R$ 13.200,01 até R$ 16.500,00  525.1  572.9  614.100  796.5
P    De R$ 16.500,01 até R$ 22.000,00  529.3  576.8  617.500  805.7
Q    Acima de R$ 22.000,00             534.4  580.6  621.275  802.9

In [46]:
ciencias_natureza = df_col_selecionadas[['Q006','RENDA_FAMILIAR', 'NU_NOTA_CN']].groupby(['Q006','RENDA_FAMILIAR']).describe()
ciencias_natureza

                                      NU_NOTA_CN                              \
                                           count        mean        std  min
Q006 RENDA_FAMILIAR
A    Nenhuma Renda                      112899.0  449.259398  62.025846  0.0
B    Até R$ 1.100,00                    546733.0  458.595073  64.197269  0.0
C    De R$ 1.100,01 até R$ 1.650,00     346838.0  475.199268  69.052730  0.0
D    De R$ 1.650,01 até R$ 2.200,00     277708.0  485.198252  72.144118  0.0
E    De R$ 2.200,01 até R$ 2.750,00     143957.0  495.608771  75.383705  0.0
F    De R$ 2.750,01 até R$ 3.300,00     168049.0  502.768113  77.142088  0.0
G    De R$ 3.300,01 até R$ 4.400,00     147647.0  513.772227  79.960933  0.0
H    De R$ 4.400,01 até R$ 5.500,00     118749.0  523.580090  82.211621  0.0
I    De R$ 5.500,01 até R$ 6.600,00      75420.0  531.287384  83.602102  0.0
J    De R$ 6.600,01 até R$ 7.700,00      46934.0  537.766206  83.811104  0.0
K    De R$ 7.700,01 até R$ 8.800,00      37157.0  541.777961  85.042211  0.0
L    De R$ 8.800,01 até R$ 9.900,00      32560.0  545.089312  85.029335  0.0
M    De R$ 9.900,01 até R$ 11.000,00     47849.0  550.013089  85.643786  0.0
N    De R$ 11.000,01 até R$ 13.200,00    30028.0  556.700676  86.098433  0.0
O    De R$ 13.200,01 até R$ 16.500,00    32862.0  561.118127  86.328049  0.0
P    De R$ 16.500,01 até R$ 22.000,00    32802.0  566.450908  86.755398  0.0
Q    Acima de R$ 22.000,00               39914.0  571.376211  88.587630  0.0


                                         25%     50%    75%    max
Q006 RENDA_FAMILIAR
A    Nenhuma Renda                     403.9  441.60  485.6  824.4
B    Até R$ 1.100,00                   411.3  451.50  497.7  856.6
C    De R$ 1.100,01 até R$ 1.650,00    424.4  468.30  519.4  856.2
D    De R$ 1.650,01 até R$ 2.200,00    431.9  478.50  533.1  856.6
E    De R$ 2.200,01 até R$ 2.750,00    439.6  489.70  547.3  814.9
F    De R$ 2.750,01 até R$ 3.300,00    444.8  497.80  556.8  856.6
G    De R$ 3.300,01 até R$ 4.400,00    453.8  510.90  570.7  867.1
H    De R$ 4.400,01 até R$ 5.500,00    461.6  522.50  582.6  856.6
I    De R$ 5.500,01 até R$ 6.600,00    468.6  532.10  590.3  856.6
J    De R$ 6.600,01 até R$ 7.700,00    475.4  539.60  597.7  829.4
K    De R$ 7.700,01 até R$ 8.800,00    479.2  544.60  601.6  848.7
L    De R$ 8.800,01 até R$ 9.900,00    482.9  548.50  605.1  867.1
M    De R$ 9.900,01 até R$ 11.000,00   488.2  554.60  609.8  856.6
N    De R$ 11.000,01 até R$ 13.200,00  495.3  562.40  616.7  867.1
O    De R$ 13.200,01 até R$ 16.500,00  500.9  566.60  620.8  856.6
P    De R$ 16.500,01 até R$ 22.000,00  507.6  573.25  625.4  856.6
Q    Acima de R$ 22.000,00             512.1  578.40  631.4  867.1

In [47]:
ciencias_humanas = df_col_selecionadas[['Q006','RENDA_FAMILIAR', 'NU_NOTA_CH']].groupby(['Q006','RENDA_FAMILIAR']).describe()
ciencias_humanas

                                      NU_NOTA_CH                              \
                                           count        mean        std  min
Q006 RENDA_FAMILIAR
A    Nenhuma Renda                      112899.0  471.924401  80.965937  0.0
B    Até R$ 1.100,00                    546733.0  485.195380  82.917170  0.0
C    De R$ 1.100,01 até R$ 1.650,00     346838.0  507.616230  86.488526  0.0
D    De R$ 1.650,01 até R$ 2.200,00     277708.0  519.593682  88.256728  0.0
E    De R$ 2.200,01 até R$ 2.750,00     143957.0  530.365496  89.484001  0.0
F    De R$ 2.750,01 até R$ 3.300,00     168049.0  537.791404  89.717113  0.0
G    De R$ 3.300,01 até R$ 4.400,00     147647.0  549.034026  91.033641  0.0
H    De R$ 4.400,01 até R$ 5.500,00     118749.0  557.644001  91.971356  0.0
I    De R$ 5.500,01 até R$ 6.600,00      75420.0  564.522283  92.284449  0.0
J    De R$ 6.600,01 até R$ 7.700,00      46934.0  571.272402  91.657556  0.0
K    De R$ 7.700,01 até R$ 8.800,00      37157.0  574.037465  92.593458  0.0
L    De R$ 8.800,01 até R$ 9.900,00      32560.0  577.327730  92.092947  0.0
M    De R$ 9.900,01 até R$ 11.000,00     47849.0  581.114523  92.426930  0.0
N    De R$ 11.000,01 até R$ 13.200,00    30028.0  588.099544  92.133929  0.0
O    De R$ 13.200,01 até R$ 16.500,00    32862.0  592.621581  91.983064  0.0
P    De R$ 16.500,01 até R$ 22.000,00    32802.0  596.249140  92.279897  0.0
Q    Acima de R$ 22.000,00               39914.0  601.471662  93.104976  0.0


                                           25%    50%    75%    max
Q006 RENDA_FAMILIAR
A    Nenhuma Renda                     410.900  461.2  526.2  832.5
B    Até R$ 1.100,00                   421.000  478.3  544.9  846.9
C    De R$ 1.100,01 até R$ 1.650,00    440.200  508.6  570.9  846.9
D    De R$ 1.650,01 até R$ 2.200,00    451.900  523.9  583.8  846.9
E    De R$ 2.200,01 até R$ 2.750,00    463.800  537.2  594.4  846.9
F    De R$ 2.750,01 até R$ 3.300,00    471.800  545.4  602.2  846.9
G    De R$ 3.300,01 até R$ 4.400,00    485.100  558.2  613.7  846.9
H    De R$ 4.400,01 até R$ 5.500,00    496.100  567.1  622.6  846.9
I    De R$ 5.500,01 até R$ 6.600,00    504.075  574.2  629.8  846.9
J    De R$ 6.600,01 até R$ 7.700,00    513.400  581.8  635.7  846.9
K    De R$ 7.700,01 até R$ 8.800,00    516.800  583.9  638.7  846.9
L    De R$ 8.800,01 até R$ 9.900,00    520.400  587.1  641.8  846.9
M    De R$ 9.900,01 até R$ 11.000,00   526.500  591.5  645.6  846.9
N    De R$ 11.000,01 até R$ 13.200,00  535.200  597.9  652.1  846.9
O    De R$ 13.200,01 até R$ 16.500,00  540.400  602.3  656.4  846.9
P    De R$ 16.500,01 até R$ 22.000,00  544.525  606.8  660.4  846.9
Q    Acima de R$ 22.000,00             550.400  611.8  666.4  846.9

# Conclusão da Hipótese de Renda x Notas
## O padrão de comportamento de dados foi obeservado de forma semelhante para as notas de Matemática, Linguagens e Códigos (lingua portuguesa), Ciências Naturais, Ciências Humanas e Redação, onde em todos os Casos a média das notas aumentava conforme a renda familiar e o Quartil de 25% da Maior Renda sempre superava o Quartil de 75% da Menor Renda.

## Essa análise demonstra que o fator Renda afeta diretamente a nota dos Candidatos.

## Primeiro foi testada a nota em Redação, foi usado o groupby do pandas e o describe para fazer as contas e de cara já obtive uma boa nuance da resposta que procurava.
- foi observado que tanto candidatos com baixa renda quanto candidatos de alta renda obtiveram notas mínimas igual a ZERO e notas máximas iguais a 1000.
- Também foi notado que o desivo padrão foi menor nos candidatos de renda mais alta portato a variação de notas entre esses candidatos é menor.
- Outro ponto obeservado e preocupante é que o Quartil de 25% dos candidatos de Alta Renda é maior do que Quartil dos candidatos de Baixa Renda.
- E o mais importante, a média da nota de redação aumenta de acordo com a renda.